.env
/build
/coverage
/node_modules
/vendor
composer.lock
.php_cs.cache
.phpunit.result.cache
phpstan.neon
tests/stubs/Controllers/GitConflictController.php
package-lock.json
.php-cs-fixer.cache
/types

