.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-corner {
    width: 2px;
    height: 2px;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-red-500/90;
}

.scrollbar-lg::-webkit-scrollbar,
.scrollbar-lg::-webkit-scrollbar-corner {
    width: 4px;
    height: 4px;
}

.scrollbar-lg::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.scrollbar-lg::-webkit-scrollbar-thumb {
    @apply bg-red-500/90;
}

.scrollbar-hidden-x {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
}

.scrollbar-hidden-x::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden-y {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.scrollbar-hidden-y::-webkit-scrollbar {
    display: none;
}
